.vertical__menu {
    background-color: #1a1a2e;
    color: #fff;
    /* overflow: scroll; */
    overflow-y: scroll;
    height: 865px;
    width: 200px;
    padding: 4px;
    
    /* grid-column: auto; */
    /* display: grid; */
    margin-right: 8px;
  }
  
  .vertical__menu a {
    background-color: brown;
    color: white;
    display: block;
    margin: 6px;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
}

ul {
    padding: 4px;
}

h2 {
    justify-self: center;
    padding: 6px 0;
    font-size: 130%;
    color: #fff;
}